.quote blockquote {
  --color-text: var(--themed-text-color, var(--spectrum-gray-700));

  position: relative;
  margin: 1.5rem auto;
  padding: 1.0rem;
  font-family: var(--spectrum-serif-font);
  line-height: 1.5;
  letter-spacing: 0;
  color: var(--color-text);

  @media (min-width: 48rem) {
    padding-inline: 2.0rem;
  }

  @media (min-width: 80rem) {
    margin-block: 3.0rem;
    padding-inline: 3.0rem;
  }
}

.quote__quotation {
  margin: 0;
  line-height: 1.5;
  font-style: italic;

  @media (min-width: 105rem) {
    font-size: var(--spectrum-font-size-750);
  }

  & + .quote__quotation {
    margin-top: 0.5em;
  }
}

.quote__attribution {
  font-weight: var(--spectrum-regular-font-weight);
  margin-block: 0.5rem 0;

  & cite,
  & a {
    font-style: normal;
  }
}
