main > .section > .abstract-wrapper {
  margin-inline: auto;
  max-inline-size: var(--article-content-inline-size-md);

  @media (width >= 64rem) {
    max-inline-size: var(--article-content-inline-size-lg);
  }

  @media (width >= 90rem) {
    max-inline-size: var(--article-content-inline-size-xl);
  }

  @media (width >= 120rem) {
    max-inline-size: var(--article-content-inline-size-xxl);
  }
}

.abstract {
  --abstract-divider-color: var(--s2a-color-border-subtle);
  --abstract-item-inline-size: 3.75rem; /* 60px */

  display: grid;
  gap: var(--s2a-spacing-md);
  padding-block-start: var(--s2a-spacing-sm);

  @media (width >= 64rem) {
    --abstract-item-inline-size: 5.125rem; /* 82px */

    grid-template-columns: minmax(0, 1fr) minmax(0, 3fr);
    gap: var(--s2a-spacing-lg);

    .abstract__title,
    .abstract__items {
      border-block-start: 1px solid var(--abstract-divider-color);
    }

    .abstract__title {
      padding-block-start: var(--s2a-spacing-lg);
    }

    .abstract__item:first-child {
      border-block-start: none;
    }
  }

  @media (width >= 90rem) {
    --abstract-item-inline-size: 7.25rem; /* 116px */

    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
  }

  @media (width >= 120rem) {
    --abstract-item-inline-size: 9.6875rem; /* 155px */
  }

  .abstract__title,
  .abstract__body {
    & > * {
      margin: 0;
    }

    & > * + * {
      margin-block-start: var(--s2a-spacing-3xs);
    }
  }

  .abstract__title :is(h1, h2, h3, h4, h5, h6) {
    font-size: var(--s2a-typography-font-size-heading-5);
    line-height: var(--s2a-typography-line-height-heading-5);
    letter-spacing: var(--s2a-font-letter-spacing-4xl);
  }

  .abstract__number {
    font-family: var(--heading-font-family);
    font-size: var(--s2a-typography-font-size-heading-6);
    line-height: var(--s2a-typography-line-height-title-6, 1.125rem);
    letter-spacing: var(--s2a-typography-letter-spacing-heading-6);
    flex-basis: var(--abstract-item-inline-size);
  }

  .abstract__body {
    min-inline-size: 0;
    font-family: var(--serif-font-family);
    font-size: var(--serif-body-font-size);
    line-height: var(--serif-body-line-height);
    flex-basis: fit-content;
  }

  .abstract__items {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .abstract__item {
    display: flex;
    gap: var(--s2a-spacing-2xs);
    padding-block: var(--s2a-spacing-lg);
    border-block-start: 1px solid var(--abstract-divider-color);
  }
}

:root[data-theme="dark"] .abstract {
  --abstract-divider-color: var(--s2a-color-gray-700);
}
