.grid-item {
  display: flex;
  flex-direction: column;
  gap: var(--s2a-spacing-xs);
  max-width: 50ch; /* In the unlikely event this is outside of a grid. */

  &[data-content-type="research"] {
    --grid-item-content-type-color: var(--color-content-type-research);
  }

  &[data-content-type="workflows"] {
    --grid-item-content-type-color: var(--color-content-type-workflows);
  }

  &[data-content-type="sneaks"] {
    --grid-item-content-type-color: var(--color-content-type-sneaks);
  }

  &[data-content-type="playground"] {
    --grid-item-content-type-color: var(--color-content-type-playground);
  }

  .grid-item__content-type,
  .grid-item__main {
    color: inherit;
    text-decoration: none;

    &:focus-visible {
      outline: 2px solid var(--s2a-color-focus-ring-default);
      outline-offset: 2px;
    }
  }

  .grid-item__main {
    display: flex;
    flex-direction: column;
    gap: var(--s2a-spacing-xs);
    border-radius: var(--s2a-border-radius-xs);
  }

  .grid-item__content-type {
    display: inline-flex;
    align-self: start;
    align-items: center;
    gap: var(--s2a-spacing-2xs);
    margin: 0;
    border-radius: var(--s2a-border-radius-3xs);
    color: var(--s2a-color-content-default);
  }

  .grid-item__content-type-swatch {
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    border-radius: var(--s2a-border-radius-3xs);
    background: var(--grid-item-content-type-color, var(--color-content-type-research));
  }

  .grid-item__content-type-name {
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
    color: var(--s2a-color-content-subtle);
  }

  .grid-item__image {
    position: relative;
    overflow: hidden;
    border-radius: var(--s2a-border-radius-xs);
    aspect-ratio: 1;
    background-color: var(--s2a-color-background-subtle);

    & :is(picture, img) {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
    }

    & img {
      object-fit: cover;
    }
  }

  &.aspect-1-1 .grid-item__image {
    aspect-ratio: 1 / 1;
  }

  &.aspect-4-5 .grid-item__image {
    aspect-ratio: 4 / 5;
  }

  &.aspect-3-2 .grid-item__image {
    aspect-ratio: 3 / 2;
  }

  &.aspect-2-3 .grid-item__image {
    aspect-ratio: 2 / 3;
  }

  .play-icon {
    position: absolute;
    inset-block-end: var(--s2a-spacing-xs);
    inset-inline-start: var(--s2a-spacing-xs);
  }

  .grid-item__body {
    display: flex;
    flex-direction: column;
    gap: var(--s2a-spacing-3xs);
  }

  .grid-item__title {
    margin: 0;
    color: var(--s2a-color-content-default);
  }

  .grid-item__subhead {
    margin: 0;
    color: var(--s2a-color-content-subtle);
  }
}
