.footer-copyright {
  padding: 1.5rem var(--page-gutters) 3rem;
  color: var(--spectrum-gray-600);

  @media (min-width: 48rem) {
    padding: 1.125rem var(--page-gutters);
  }

  & p {
    margin: 0;
    padding: 0;
  }

  & a {
    color: var(--spectrum-gray-600);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
