.tabs .tabs-list {
  display: flex;
  gap: 0.5ch;
  max-width: 100%;
  font-size: var(--body-size-xs);
  overflow-x: auto;
}

@media (min-width: 37.5rem) {
  /* !! min-width MQ needs refactor */
  .tabs .tabs-list {
    font-size: var(--body-size-s);
  }
}

@media (min-width: 48rem) {
  /* !! min-width MQ needs refactor */
  .tabs .tabs-list {
    font-size: var(--body-size-m);
  }
}

.tabs .tabs-list button {
  --focus-outline-offset: -2px;

  flex: 0 0 max-content;
  margin: 0;
  border: 1px solid var(--spectrum-gray-300);
  border-radius: 0;
  padding: 0.5em;
  background-color: var(--color-background);
  color: var(--color-text);
  font-weight: bold;
  line-height: unset;
  text-align: initial;
  text-overflow: unset;
  overflow: unset;
  white-space: unset;
  transition: background-color 200ms;

  &:focus,
  &:focus-visible {
    border-radius: var(--focus-border-radius);
  }
}

.tabs .tabs-list button p {
  margin: 0;
}


.tabs .tabs-list button[aria-selected='true'] {
  border-bottom: 1px solid var(--color-background);
  background-color: var(--color-background);
  cursor: initial;
}

.tabs .tabs-panel {
  margin-top: -1px;
  padding: 24px;
  border: 1px solid var(--spectrum-gray-300);
  overflow: auto;
}

.tabs .tabs-panel[aria-hidden='true'] {
  display: none;
}
