main>.section>.table-wrapper {
  --table-scrollbar-track: var(--s2a-color-surface-default);
  --table-scrollbar-thumb: #A2A2A24D;

  @media (width >= 48rem) {
    max-inline-size: 38.25rem;
  }

  @media (width >= 90rem) {
    max-inline-size: 57.75rem;

  }

  &.table-wrapper--scrollable {
    overflow-x: scroll;
    overscroll-behavior-x: none;
    padding-inline: 0;
    padding-block-end: 0.5rem;

    &::-webkit-scrollbar {
      height: 0.5rem;
      background: var(--table-scrollbar-track);
    }

    &::-webkit-scrollbar-track {
      margin-inline: 0.5rem;
      background: var(--table-scrollbar-track);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--table-scrollbar-thumb);
      border-radius: var(--s2a-border-radius-round);
    }

    @supports not selector(::-webkit-scrollbar) {
      scrollbar-width: auto;
      scrollbar-color: var(--table-scrollbar-thumb) var(--table-scrollbar-track);
    }
  }
}

.table {
  --table-border-color: var(--s2a-color-border-subtle);
  --table-fade-size: 3.125rem;
  --table-surface: var(--color-section-surface-default, var(--s2a-color-background-default));
  --table-th-background: var(--s2a-color-transparent-black-08);

  display: flex;
  inline-size: 100%;
  color: var(--s2a-color-content-default);
  font-size: var(--s2a-typography-font-size-body-sm);

  &.table--scrollable {
    inline-size: max-content;
  }

  table {
    flex: 1 1 auto;
    inline-size: 100%;
    min-inline-size: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid var(--table-border-color);
    border-radius: var(--s2a-border-radius-xs);
  }

  &.table--scrollable table {
    flex: 0 0 auto;
    inline-size: max-content;
    min-inline-size: max-content;
    border-radius: 0;
  }

  &.table--scrollable::after {
    content: "";
    flex: 0 0 var(--table-fade-size);
    align-self: stretch;
    margin-inline-start: calc(-1 * var(--table-fade-size));
    position: sticky;
    inset-inline-end: 0;
    pointer-events: none;
    background: linear-gradient(270deg, rgb(115 115 115 / 50%) 0%, rgb(115 115 115 / 0%) 79.25%);
  }

  &.table--scrolled-end::after {
    opacity: 0;
  }

  th,
  td {
    font-size: var(--s2a-typography-font-size-body-sm);
    font-style: normal;
    font-weight: 400;
    line-height: var(--s2a-typography-line-height-body-sm); /* 128.571% */
    letter-spacing: var(--s2a-typography-letter-spacing-body-sm);
    padding-block: 0.75rem;
    padding-inline: 1.25rem;
    border-block-end: 1px solid var(--table-border-color);
    border-inline-end: 1px solid var(--table-border-color);
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    color: var(--s2a-color-content-default);
    max-inline-size: 164px;
    min-inline-size: 105px;

    @media (width >= 90rem) {
      max-inline-size: 164px;
      min-inline-size: 164px;
    }

    &:first-child {
      text-align: start;
    }

    &:last-child {
      border-inline-end: 0;
    }

    &>* {
      margin: 0;
    }

    &>*+* {
      margin-block-start: var(--s2a-spacing-3xs);
    }
  }

  th {
    background: var(--table-th-background);
    padding-block: 1rem;
    font-weight: 700;
  }

  td {
    letter-spacing: var(--s2a-typography-letter-spacing-body-sm);
  }

  table> :first-child>tr:first-child>:first-child {
    border-start-start-radius: var(--s2a-border-radius-xs);
  }

  table> :first-child>tr:first-child>:last-child {
    border-start-end-radius: var(--s2a-border-radius-xs);
  }

  table> :last-child>tr:last-child>* {
    border-block-end: 0;
  }

  table> :last-child>tr:last-child>:first-child {
    border-end-start-radius: var(--s2a-border-radius-xs);
  }

  table> :last-child>tr:last-child>:last-child {
    border-end-end-radius: var(--s2a-border-radius-xs);
  }

  &.table--scrollable :is(th, td) {
    border-radius: 0;
  }
}

:root[data-theme="dark"] .table-wrapper {
  --table-border-color: var(--s2a-color-gray-700);
  --table-scrollbar-track: var(--s2a-color-transparent-white-12);
  --table-scrollbar-thumb: var(--s2a-color-gray-400);
}

:root[data-theme="dark"] .table {
  /* --table-surface: var(--s2a-color-transparent-white-12); */
  --table-th-background: var(--s2a-color-transparent-white-12);
}