.embed {
  padding: 0;
  margin-inline: 0;
  margin-block: var(--spacing-global-block-end-small-screen);

  @media (min-width: 48rem) {
    margin-block: var(--spacing-global-block-end-medium-screen);
  }

  @media (min-width: 80rem) {
    margin-block: var(--spacing-global-block-end-large-screen);
  }
}

.embed__iframe {
  width: 100%;
  aspect-ratio: 16/9;
}

.embed__iframe--spotify {
  aspect-ratio: auto;
  height: 22rem;
}

.embed__caption {
  display: block;
  color: var(--spectrum-gray-600);
  font-family: var(--detail-font-family);
  line-height: var(--detail-line-height);
  font-size: var(--detail-size-s);
  font-weight: var(--detail-font-weight);

  & a {
    color: currentColor;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
