.section-header {
  grid-row-gap: 0.25rem;
}

main > .section > .section-header {
  margin-block-end: 1.5rem;

  @media (min-width: 48rem) {
    margin-block-end: 1.75rem;
  }

  @media (min-width: 80rem) {
    margin-block-end: 2.5rem;
  }
}

.section-header__description {
  margin: 0;
  margin-block-start: 0;
}

.section-header__button.button--ghost {
  margin-bottom: -0.5rem;
  margin-right: -0.25rem;

  @media (min-width: 80rem) {
    font-size: var(--spectrum-font-size-300);
  }
}

/* For mobile, uses an adjacent mobile-only button component in the content (as it has a different location). */
.section-header__button--hide-at-small {
  display: none;

  @media (min-width: 48rem) {
    display: flex;
  }
}

@media (min-width: 48rem) {
  .section-header__button {
    height: fit-content;
    width: fit-content;
    margin-inline-start: auto;
  }

  .section-header__description + .section-header__button {
    grid-column: 9 / span 4;
    grid-row: 1 / span 2;
    align-self: end;
  }
}

.grid-item--66 .section-header,
.grid-item--50 .section-header {
  /* styles for when a section header with button is inside a limited grid container */

  @media (min-width: 48rem) {
    .section-header__heading.grid-item--66,
    .section-header__description.grid-item--66 {
      grid-column: span 12;
      max-width: var(--page-constrained-text);
    }

    .section-header__description + .section-header__button {
      margin-inline-start: unset;
      grid-column: span 12;
      grid-row: 3;
      align-self: unset;
      margin-block-start: 1rem;
    }
  }
}
