.call-to-action {
  display: flex;
  padding: 1.5rem;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;
  border-radius: var(--spectrum-corner-radius-700);
  background-color: var(--color-background-highlighted-element);
  box-shadow: var(--drop-shadow-emphasized);
  margin-block-end: 4rem;

  @media (min-width: 41.875rem) {
    flex-direction: row;
    margin-block-end: 5rem;
    align-items: center;
  }

  @media (min-width: 48rem) {
    padding-block: 2rem;
  }

  @media (min-width: 80rem) {
    display: none;
  }
}

.call-to-action__description {
  @media (min-width: 48rem) {
    font-size: var(--title-size-xxl);
  }
}
