.footer-content {
  width: 100%;
  padding: 0;
  background-color: var(--color-background-highlighted-element);
  color: var(--color-text-dark);
  overflow-x: hidden;
  font-size: max(var(--spectrum-font-size-200), var(--body-size-s));
}

/* padding is on the elements instead of the container so we don't have to add more nested divs */
.footer-heading {
  padding: 3rem var(--page-gutters) 0.5rem;
}

.footer-links {
  padding: 0.5rem var(--page-gutters) 3rem;
}

@media (min-width: 48rem) {
  @supports (display: grid) {
    .footer-content .section {
      display: grid;
      grid-template-columns: repeat(12, [col] 1fr);
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;
      align-items: stretch;
      justify-items: stretch;
    }

    .footer-heading,
    .footer-links {
      min-height: 0;
      min-width: 0;
    }

    .footer-heading,
    .footer-links {
      padding: 4rem var(--page-gutters) 6rem;
    }

    .footer-heading {
      grid-column: span 7;
      display: flex;
      flex-direction: column;
    }

    .footer-links {
      grid-column: 9 / span 5;
    }

    .footer-copyright {
      grid-column: span 12;
      width: 100%;
    }

    .footer-copyright__content {
      margin: 0 auto;
      max-width: var(--page-max-width);
    }
  }
}

@media (min-width: 105.5rem) {
  .footer-content .section {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: unset;
    grid-column-gap: unset;
    grid-row-gap: unset;
  }

  .footer-heading,
  .footer-links {
    margin: 0;
  }

  .footer-heading {
    width: calc(0.7 * var(--page-max-width));
    margin-inline-start: auto;
  }

  .footer-links {
    width: calc(0.3 * var(--page-max-width));
    margin-inline-end: auto;
  }
}
