.search-results {
    margin-block: 2.0rem 3.5rem;

    @media (min-width: 48rem) {
        margin-block: 3.0rem 5.5rem;
    }
}

.search-results__header {
    margin-block: 1.5rem 3.5rem;

    & h1 {
        font-size: var(--heading-size-l);
        font-weight: var(--spectrum-heading-weight-m);
        line-height: 1.15;
    }

    @media (min-width: 48rem) {
        margin-block: 3.0rem 4.5rem;
    }
}

.search-results__total {
    margin-block: 1.5rem;
}

.search-results__list {
    box-sizing: border-box;
    list-style: none;
    margin: 1.5rem 0;
    padding: 0;
}

.search-results__badge {
    align-self: flex-start;
    vertical-align: top;
    font-size: 0.75rem;
    background: var(--spectrum-blue-200);
    color: var(--spectrum-gray-1000);
    border-radius: var(--spectrum-corner-radius-400);
    padding: 0.25rem 0.625rem;
    margin-block: 0 1.0rem;

    & span {
        display: initial;
    }

    @media (min-width: 105rem) {
       margin-block-end: 1.5rem;
    }
}

/* "Go back home" link at top in content. */
@media not all and (min-width: 80rem) {
    .search-results-container:first-child > div:first-child > p:first-child {
        margin-top: -2.0rem;
    }
}
