/*
 * Copyright 2025 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
*/

/*
* Global Blocks *

  These block styles are shared between multiple block variants.
  Global blocks allow for consistency in styling between blocks and pages.

  To ensure inheritance within this file, global blocks should be named
  with proper BEM syntax and scoped within the block-level class name.

  Where necessary, `:root` selectors are located near their related blocks.
*/

.author-aside {
  margin-block-start: 2rem;
  border-top: 1px solid var(--spectrum-gray-400);
}

.author-bio {
  margin-block-start: 2rem;
  margin-block-end: 0;

  & .author-meta {
    display: flex;
    gap: 1rem;
    margin-block-end: 1rem;

    & .author-meta__image img {
      width: 4rem;
      height: 4rem;
      border-radius: 100%;
    }

    & .author-meta__info {
      align-self: center;
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      & > .author-meta__name {
        margin-block: 0;
        line-height: 1.25;
        font-size: var(--spectrum-font-size-300);
        font-weight: var(--spectrum-bold-font-weight);

        @media (min-width: 80rem) {
          font-weight: var(--spectrum-extra-bold-font-weight);
        }

        @media (min-width: 105rem) {
          font-size: var(--spectrum-font-size-400);
        }
      }

      & .author-meta__title {
        font-size: var(--spectrum-font-size-100);
        font-weight: var(--spectrum-medium-font-weight);
        color: var(--spectrum-gray-600);
      }
    }
  }

  .author-description {
    & p {
      @media (min-width: 80rem) {
        font-size: var(--spectrum-font-size-300);
      }
      @media (min-width: 105rem) {
        font-size: var(--spectrum-font-size-400);
      }
    }

    & p:first-of-type {
      margin-block-start: 0;
    }

    & p:last-of-type {
      margin-block-end: 0;
    }
  }
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-block-start: 0;
  margin-block-end: var(--spacing-global-block-end-small-screen);

  @media (min-width: 22.5rem) {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  @media (min-width: 48rem) {
    gap: 1.5rem;
    margin-block-end: var(--spacing-global-block-end-medium-screen);
  }

  @media (min-width: 80rem) {
    margin-block-end: var(--spacing-global-block-end-large-screen);
  }
}

.horizontal-rule {
  height: 0;
  border: none;
  border-block-start: 1px solid var(--spectrum-gray-400);
  margin-block: 4rem;

  @media (min-width: 80rem) {
    margin-block: 5rem;
  }

  @media (min-width: 105rem) {
    margin-block: 6.5rem;
  }
}

.horizontal-rule--full {
  width: 100cqw;
  margin-inline: calc(-1 * var(--page-gutters));

  @media (min-width: 105.5rem) {
    margin-inline: calc(-0.5 * calc(100cqw - var(--page-max-width)));
  }
}

.listing-cta {
  background: var(--color-background-highlighted-element);
  border-radius: 1.5rem;
  padding: 1.5rem 1.25rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  box-shadow: var(--drop-shadow-emphasized);
  margin-block-start: 2.0rem;

  /* Fixed at the bottom of the page, only if the screen is not too small (i.e. not mobile in landscape). */
  @media (min-height: 40rem) {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 1.5rem 1.5rem 0 0;
    margin-block-start: 0;
  }

  @media (min-width: 36rem) {
    padding: 1.5rem 2rem 2rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: 67.5rem) {
    display: none;
  }

  & span {
    color: var(--color-text);

    @media (min-width: 36rem) {
      font-size: var(--spectrum-font-size-700);
    }
  }

  .button {
    @media (min-width: 36rem) {
      width: auto;
    }
  }
}

/* Job listing page */
.listing-container {
  @media (min-width: 67.5rem) {
    display: grid;
    grid-template-columns: 70ch 1fr 3fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "title title title"
      "content . details";
  }

  & > h1 {
    margin-block-end: 1rem;

    @media (min-width: 36rem) {
      margin-block-end: 2.5rem;
    }

    @media (min-width: 67.5rem) {
      margin-block-end: var(--spacing-global-block-end-medium-screen);
      grid-area: title;
    }

    @media (min-width: 105rem) {
      margin-block-end: 8.75rem;
    }
  }

  > .listing-details {
    @media (min-width: 67.5rem) {
      grid-area: details;
    }
  }

  > .listing-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-block-start: var(--spacing-heading-block-start-small-screen);

      @media (min-width: 22.5rem) {
        margin-block-start: var(--spacing-heading-block-start-medium-screen);
      }

      @media (min-width: 48rem) {
        margin-block-start: var(--spacing-heading-block-start-large-screen);
      }

      @media (min-width: 67.5rem) {
        margin-block-start: var(--spacing-heading-block-start-xl-screen);
      }
    }

    & > h2:first-of-type {
      margin-block-start: 0;
    }

    @media (min-width: 67.5rem) {
      grid-area: content;
    }
  }
}

.listing-details {
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "button button"
    "location location"
    "detail-grid detail-grid";

  @media (min-width: 36rem) {
    grid-template-columns: 1fr 2fr auto;
    grid-template-areas: "location detail-grid button";
  }

  @media (min-width: 67.5rem) {
    align-self: start;
    position: sticky;
    top: calc(5rem + var(--page-nav-height));
    display: flex;
    flex-direction: column;
  }

  .listing-details__button {
    grid-area: button;

    &.listing-details__button--first {
      display: inline-flex;

      @media (min-width: 36rem) {
        display: none;
      }

      @media (min-width: 67.5rem) {
        display: inline-flex;
        margin-block-end: 3rem;
      }
    }

    &.listing-details__button--last {
      display: none;

      @media (min-width: 36rem) {
        display: inline-flex;
        align-self: start;
        width: auto;
      }

      @media (min-width: 67.5rem) {
        display: none;
      }
    }
  }
}

.listing-details-grid {
  grid-area: detail-grid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-self: start;

  @media (min-width: 67.5rem) {
    display: flex;
    flex-direction: column;
  }
}

.listing-detail--location {
  --listing-detail-location-column-gap: 1rem;

  grid-area: location;
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--listing-detail-location-column-gap);

  @media (min-width: 36rem) {
    flex-wrap: unset;
    flex-direction: column;
  }

  .listing-detail__name--location {
    flex: 1 0 100%;

    @media (min-width: 36rem) {
      flex: unset;
    }
  }

  .listing-detail__content--location {
    flex: 1 1 calc(50% - var(--listing-detail-location-column-gap));

    @media (min-width: 36rem) {
      flex: unset;
    }
  }
}

.listing-detail__name,
.listing-detail__content {
  display: block;
}

.listing-detail {
  .listing-detail__name {
    font-weight: var(--spectrum-extra-bold-font-weight);

    @media (min-width: 36rem) {
      font-size: var(--spectrum-font-size-400);
    }

    @media (min-width: 67.5rem) {
      font-size: var(--spectrum-font-size-600);
    }
  }

  .listing-detail__content {
    @media (min-width: 36rem) {
      font-size: var(--spectrum-font-size-200);
    }

    @media (min-width: 67.5rem) {
      font-weight: var(--spectrum-medium-font-weight);
      font-size: var(--spectrum-font-size-300);
    }
  }
}

.listing-detail__name--location {
  flex: 1 0 100%;

  @media (min-width: 36rem) {
    flex: unset;
  }
}

.listing-detail__content--location {
  flex: 1 1 50%;

  @media (min-width: 36rem) {
    flex: unset;
  }
}

.listing-prefooter {
  margin-block-end: var(--spacing-global-block-end-small-screen);
  max-width: 80ch;
  font-size: var(--spectrum-font-size-200);

  @media (min-width: 80rem) {
    margin-block-end: var(--spacing-global-block-end-medium-screen);
  }

  @media (min-width: 105rem) {
    margin-block-end: var(--spacing-global-block-end-large-screen);
  }
}

.image-with-caption {
  --image-with-caption-gap: 1rem;

  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--image-with-caption-gap);
  margin: 1.5rem 0;

  @media (min-width: 48rem) {
    margin-block: 2.5rem;
  }

  & .image-with-caption__image img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: var(--spectrum-corner-radius-800);
  }

  & .image-with-caption__caption {
    display: block;
    color: var(--spectrum-gray-600);

    & em {
      font-style: normal;
    }

    & > * {
      font-family: var(--detail-font-family);
      line-height: 1.3;
      font-size: var(--detail-size-s);
      font-weight: var(--detail-font-weight);

      &:first-child {
        margin-block-start: 0;
      }
      &:last-child {
        margin-block-end: 0;
      }
    }
  }
}

.article-content article > :is(h2, h3) + .image-with-caption,
.article-content article > div:has(> h2:last-child, > h3:last-child) + .image-with-caption {
  margin-block-start: 1.5rem;
}

.image-with-caption div:has(p):not([class]) + .image-with-caption {
  margin-block-start: 2rem;

  @media (min-width: 48rem) {
    margin-block-start: 2.5rem;
  }

  @media (min-width: 80rem) {
    margin-block-start: 4rem;
  }
}

.image-with-caption--two-up {
  @media (min-width: 48rem) {
    flex-direction: row;
    flex-wrap: wrap;

    & .image-with-caption__image {
      flex: 0 1 calc(50% - (var(--image-with-caption-gap) / 2));
    }

    & .image-with-caption__caption {
      flex: 1 0 100%;
    }
  }
}

.image-with-caption--full-bleed {
  width: 100cqw;
  transform: translateX(calc(var(--page-gutters) * -1));

  & .image-with-caption__image img {
    border-radius: 0;
  }

  & .image-with-caption__caption {
    align-self: center;
    margin-inline: var(--page-gutters);
    width: calc(100% - (var(--page-gutters) * 2));
    max-width: var(--page-constrained-text);
  }
}

@media (min-width: 80rem) {
  .image-with-caption--full-width,
  .image-with-caption--full-bleed {
    overflow: visible;
    width: unset;
    transform: none;

    & .image-with-caption__image img {
      width: calc(100cqw - 4rem);
      max-width: 66rem;
      margin-inline-start: 50%;
      transform: translateX(-50%);
      border-radius: var(--spectrum-corner-radius-800);
    }
  }
}

.search {
  --search-input-wrapper-width: 13rem;
  --search-input-margin-inline-end: 1rem;

  .nav:not(.nav--large-screens) & {
    --search-input-wrapper-width: 20rem;
  }

  @media (min-width: 70rem) {
    --search-input-wrapper-width: 16.5rem;
  }

  .search__box {
    display: flex;
    justify-content: flex-end;

    .nav:not(.nav--large-screens) & {
      flex-direction: row;
      flex-wrap: none;
      justify-content: flex-start;
    }
  }

  .search__input-wrapper {
    position: relative;
    transition: all 130ms ease;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-inline-end: var(--search-input-margin-inline-end);
    width: 100%;
    opacity: 1;

    /* Search icon at the start of the input. */
    &::before {
      content: "";
      width: 1.25rem;
      height: 100%;
      background: var(--icon-magnify) center no-repeat;
      background-size: contain;
      position: absolute;
      inset-inline-start: 0.5rem;
    }

    @media (min-width: 52rem) {
      width: 22rem;
    }

    .nav--large-screens & {
      width: 0;
      opacity: 0;
      margin-inline-end: 0;

      &::before {
        display: none;
      }
    }
  }

  .search__box--expanded .search__input-wrapper {
    margin-inline-end: var(--search-input-margin-inline-end);
    width: 100%;
    opacity: 1;

    .nav--large-screens &::before {
      display: block;
    }

    @media (min-width: 48rem) {
      width: var(--search-input-wrapper-width);
    }
  }

  .search__input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem;
    padding-inline-start: 2.375rem;
    margin: 0;
    border: 2px solid var(--spectrum-gray-300);
    border-radius: var(--spectrum-corner-radius-1000);
    background-color: var(--spectrum-gray-50);
    color: var(--color-text-dark);
    font-size: var(--spectrum-font-size-200);
    height: 2rem;

    .nav--large-screens & {
      display: none;
    }

    &::placeholder {
      color: var(--color-text-dark);
    }

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;

      cursor: pointer;
      height: 1.5rem;
      width: 1.5rem;
      background: var(--icon-cancel-sm) center no-repeat;
    }

    &:hover {
      border-color: var(--spectrum-gray-400);
    }

    &:active,
    &:focus,
    &:focus-visible {
      border-color: var(--spectrum-gray-800);
      border-radius: var(--spectrum-corner-radius-1000);
    }
  }

  .search__box--expanded .search__input {
    display: block;
  }

  .search__button {
    display: none;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0.25rem;
    box-sizing: border-box;
    width: 1.75rem;
    height: 1.75rem;
    margin: 0;
    border-radius: 0.25rem;
    transition: background-color 130ms ease;
    align-self: center;
    color: var(--color-text-dark);

    & svg {
      flex: 1 0 auto;
      max-width: 100%;
    }

    .nav--large-screens & {
      display: flex;
    }

    &:active {
      transform: perspective(var(--spectrum-component-size-minimum-perspective-down))
        translateZ(var(--spectrum-component-size-difference-down));
    }
  }

  .search__button:hover,
  .search__box--expanded .search__button {
    background-color: var(--spectrum-gray-200);
  }

  .search__clear-button {
    display: none;
    box-sizing: border-box;
    border-radius: var(--spectrum-corner-radius-1000);
    height: 2rem;
    width: 2rem;
    padding: 0;
    position: absolute;
    inset-inline-end: 0;
    inset-block-start: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--color-text-dark);

    & svg {
      width: 0.5rem;
      height: 0.5rem;
    }

    &:active {
      transform: perspective(var(--spectrum-component-size-minimum-perspective-down))
        translateZ(var(--spectrum-component-size-difference-down));
    }
  }

  .search__submit-button {
    padding: 0.375rem 1rem 0.5rem 1rem;
    font-size: var(--spectrum-font-size-100);
    line-height: 1.28571;
    width: auto;

    .nav--large-screens & {
      display: none;
    }
  }

  .search__input.search__input--populated {
    padding-inline-end: 2.0rem;

    /* Hide browser native clear button. */
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }

    /* Show custom clear button. */
    & + .search__clear-button {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  } 

  .search__results-container {
    --search-results-item-padding: 0.75rem;

    display: none;
    box-sizing: border-box;
    position: relative;
    margin-block-start: 0.5rem;
    overflow: scroll;
    scroll-padding-block: max(0.625rem - 4px, 0px);
    max-height: min(calc(100% - 5.5rem), 75vh);
    background: var(--spectrum-white);
    border-radius: 0.625rem;
    box-shadow: var(--drop-shadow-emphasized);

    .nav--large-screens & {
      --search-results-item-padding: 1.0rem;

      position: absolute;
      top: 2.5rem;
      left: 0;
      right: 0;
      margin-block-start: 0;
      margin-inline-end: 0;
      max-height: min(27rem, calc(var(--page-viewport-height) - 1rem - var(--page-nav-height)));
      width: auto;
      overscroll-behavior: contain;

      &:has(.search__results--no-results) {
        width: var(--search-input-wrapper-width);
        right: auto;
      }
    }
  }

  .nav:not(.nav--large-screens) & .search__results-container:has(li),
  .search__box--expanded .search__results-container:has(li) {
    display: block;
  }

  .search__results {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: var(--spectrum-font-size-300);
  }

  .search__results--no-results {
    padding: var(--search-results-item-padding);
  }

  .search__results-item {
    padding: 0;
    position: relative;

    &:first-child {
      border-radius: 0.5rem 0.5rem 0 0;
    }

    &:last-child {
      border-radius: 0 0 0.5rem 0.5rem;

      & > a {
        border-bottom: none;
      }
    }

    & > a {
      border-bottom: 2px solid var(--spectrum-gray-200);
      padding: var(--search-results-item-padding);
      color: var(--color-text-dark);
      text-decoration: none;
      display: block;
      border-radius: inherit;

      &:hover,
      &:focus-visible {
        background-color: var(--spectrum-gray-50);
      }

      &:focus-visible {
        outline-offset: -2px;
      }
    }
  }

  .search__results-title {
    color: var(--color-text-dark);
    font-size: var(--spectrum-font-size-300);
  }

  .search__results-description {
    color: var(--spectrum-gray-700);
    font-size: var(--spectrum-font-size-300);

    &::first-letter {
      text-transform: uppercase;
    }
  }
}

body.color-scheme-dark .search .search__results-container {
  background: var(--spectrum-black);
  border: 2px solid var(--spectrum-gray-300);
}

.card-container {
  container-type: inline-size;
  container-name: card-container;
  margin: 0;
  padding: 0;
}

.card {
  --card-image-aspect-ratio: 4 / 3;
  display: flex;
  flex-direction: column;
  box-shadow: var(--drop-shadow-emphasized);
  border-radius: 1rem;
  background-color: var(--color-background-highlighted-element);
  overflow: hidden;

  @container card-container (min-width: 28rem) {
    --card-image-aspect-ratio: auto;
    flex-direction: row;
  }
}

a.card {
  /* Ensure base focus styles are overridden. */
  border-radius: 1rem;
  text-decoration: none;
}

a.card:hover {
  color: var(--color-text);
  cursor: pointer;
  text-decoration: none;

  .card__title {
    text-decoration: underline;
  }
}

.card__image {
  aspect-ratio: var(--card-image-aspect-ratio, auto);
  overflow: hidden;
  background: var(--spectrum-gray-75);

  @container card-container (min-width: 28rem) {
    order: 2;
    flex: 1 0 50%;
  }

  & img {
    aspect-ratio: auto;
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1.25rem 1rem;
  color: var(--color-text);

  @container card-container (min-width: 22.5rem) {
    min-height: 9rem;
  }

  @container card-container (min-width: 28rem) {
    order: 1;
    flex: 0 1 50%;
    min-height: unset;
    padding: 3rem 1.5rem;
  }

  & span {
    display: block;
  }
}

.card__title {
  font-size: var(--spectrum-font-size-300);
  margin-block-end: 0.25rem;

  @media (min-width: 48rem) {
    @container card-container (min-width: 22.5rem) {
      font-size: var(--spectrum-font-size-400);
    }
  }

  @container card-container (min-width: 36rem) {
    font-weight: var(--spectrum-extra-bold-font-weight);
    font-size: var(--spectrum-font-size-500);
    margin-block-end: 1.25rem;
  }

  @container card-container (min-width: 42rem) {
    font-size: var(--spectrum-font-size-600);
  }

  @container card-container (min-width: 48rem) {
    font-size: var(--spectrum-font-size-700);
  }
}

.card__description {
  font-size: var(--spectrum-font-size-200);

  @media (min-width: 48rem) {
    @container card-container (min-width: 22.5rem) {
      font-size: var(--spectrum-font-size-300);
    }
  }

  @container card-container (min-width: 36rem) {
    font-size: var(--spectrum-font-size-300);
  }

  @container card-container (min-width: 42rem) {
    font-size: var(--spectrum-font-size-400);
  }
}

.job-listing {
  --color-border: var(--spectrum-gray-400);
  --icon-size: 1.25rem;

  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  position: relative;
  text-decoration-line: none;
  color: var(--color-text-dark);

  &:any-link {
    color: var(--color-text-dark);

    &:hover,
    &:focus-visible {
      text-decoration-line: underline;
    }
  }
}

.job-listing::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  min-width: var(--icon-size);
  height: var(--icon-size);
  background: var(--icon-internal-link) center no-repeat;
}

.job-listing__content {
  display: flex;
  flex-direction: column;
  margin-inline-end: 2rem;
  flex-grow: 1;
}

.job-listing__title {
  font-family: var(--spectrum-sans-serif-font);
  display: block;
  font-size: var(--title-size-m);
  font-weight: var(--spectrum-title-weight-m);
  margin: 0;

  @media (min-width: 48rem) {
    font-size: var(--title-size-l);
    font-weight: var(--spectrum-title-weight-l);
  }

  @media (min-width: 80rem) {
    font-size: var(--title-size-l);
    font-weight: var(--spectrum-title-weight-l);
  }

  @media (min-width: 105rem) {
    font-size: var(--title-size-xl);
  }
}

.job-listing__subheading,
.job-listing__detail {
  display: block;
  font-size: var(--spectrum-font-size-100);

  @media (min-width: 48rem) {
    font-size: var(--spectrum-font-size-200);
  }

  @media (min-width: 105rem) {
    font-size: var(--spectrum-font-size-300);
  }
}

.job-listing__subheading {
  margin: 0.25rem 0 0;
}

.job-listing__detail {
  margin-block-start: 0.25rem;
  color: var(--spectrum-gray-600);
}

@media (min-width: 48rem) {
  .job-listing::after {
    display: none;
  }
}

@media (min-width: 80rem) {
  .job-listing {
    border-top: none;
  }

  .job-listing:last-child {
    border-bottom: none;
  }

  .job-listing__content {
    margin-inline-end: 0;
  }
}

.article-prefooter {
  > .section-header {
    margin-block-end: var(--spacing-heading-block-start-small-screen);

    @media (min-width: 48rem) {
      margin-block-end: var(--spacing-heading-block-start-medium-screen);
    }

    @media (min-width: 80rem) {
      margin-block-end: var(--spacing-heading-block-start-large-screen);
    }

    @media (min-width: 105rem) {
      margin-block-end: var(--spacing-heading-block-start-xl-screen);
    }
  }

  > *:not(.section-header):not(div > .horizontal-rule) {
    margin-block-end: var(--spacing-global-block-end-small-screen);

    @media (min-width: 48rem) {
      margin-block-end: var(--spacing-global-block-end-medium-screen);
    }

    @media (min-width: 80rem) {
      margin-block-end: var(--spacing-global-block-end-large-screen);
    }
  }

  > .grid-container .grid-item:has(.section-header),
  > .grid-container .grid-item:has(.image-with-caption) {
    align-self: center;
  }
}

.article-date {
  display: block;
  font-size: var(--spectrum-font-size-100);
  margin-block: 1rem;

  @media (min-width: 80rem) {
    margin-block: 1.5rem;
  }
}

.tags-aside__heading {
  margin-block-start: 2rem;

  @media (min-width: 105rem) {
    margin-block-start: 4rem;
  }
}

.tags-list {
  list-style-type: none;
  margin-block-start: 0.5rem;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  & li {
    padding: 0;
    margin: 0;
  }
}
